.toDoList {
    background-color: #7d8c9b;
    margin: 0 auto;
    position: relative;
    height: 60px;
}

.toDoList button {
    justify-content: center;
    font-size: 30px;
	font-weight: 900;
	font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
    background-color: transparent;
    border: 0;
}
