.name {
    font-weight: 600;
    font-size: 18px;
}

.time {
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

.day {
    display: block;
    float: left;
}

.state {
    width: 36px;
    height: 36px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
}

#card {
    background-color: #a5b8cc;
    color: white;
    border-radius: 0;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    position: relative;
}